<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (favorites.length === 0) {
    <div class="empty">
      Nenhum favorito ainda.
    </div>
  } @else {
    <ion-grid>
      <ion-row>
        @for (p of favorites; track p.id) {
          <ion-col size="12" size-md="6">
            <ion-card (click)="openDetail(p.id)">
              <img [src]="p.image" alt="{{p.title}}" class="thumb">

              <ion-card-header>
                <ion-card-title>{{ p.title | shortTitle:50 }}</ion-card-title>
                <ion-card-subtitle>{{ p.price | currency:'BRL' }}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <div class="card-row">
                  <small class="muted">Categoria: {{ p.category }}</small>
                  <button class="btn-remove" (click)="removeFavorite(p.id); $event.stopPropagation()">
                    Remover
                  </button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>

    <div class="actions-footer">
      <button class="btn-clear" (click)="clearAll()">Apagar todos</button>
    </div>
  }
</ion-content>
